:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa-house.jpg');

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:5px;
    display: flex;
    flex-direction: column;
}

.carrosel-filmes1{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 1rem;
    margin-left: 34px;
}

.item .box-filme {
    transition: transform 100ms ease-out, border-radius 200ms ease-out;
}

.item .box-filme {
    width: 100%;
    height: 140px;
    background-size: cover!important;
    background-position: center!important;
}
  
.item .box-filme:hover {
    border-radius: 10px;
    transform: scale(1.5);
    box-shadow: 0 0 2px #000a;
}

#botao_anterior, #botao_proximo{
    position: absolute;
    top: 570px;
    z-index: 2;
}

#botao_anterior1, #botao_proximo1{
    position: absolute;
    top: 760px;
    z-index: 2;
}

#botao_anterior2, #botao_proximo2{
    position: absolute;
    top: 960px;
    z-index: 2;
}

.fa-solid{
    font-size: 2.5vw;
    color: #fff;
}

.navegacao .btn{
    background: rgba(20,20,20,.7);
}

#botao_anterior, #botao_anterior1, #botao_anterior2{
    left: 35px;
}

#botao_proximo, #botao_proximo1, #botao_proximo2{
    right: 35px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

footer{
    padding: 1rem;
    margin: 50px auto 0;
    padding: 0 4%;
    font-size: 13px;
    line-height: 2.1;
    color: grey;
    max-width: 980px;
}

.icons-social{
    margin-bottom: 1vw;
}

.icons-social a{
    color: #fff;
    margin-right: 15px;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin: 0 0 14px 0;
}

.flex1 a, .flex2 a, .flex3 a, .flex4 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: grey;
}

.flex1 a:hover, .flex2 a:hover, .flex3 a:hover, .flex4 a:hover{
    text-decoration: underline;
}

.codigo button{
    border: 1px solid grey;
    padding: 0.5rem;
    margin-bottom: 20px;
    font-size: 13px;
}

.codigo:hover{
    color: white;
}

.direitos{
    font-size: 11px;
    margin-bottom: 15px;
}

#moreInfo{
    background: url("../img/previa-house-of-cards.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    height: 50rem;
}

.botaoPlay{
    background-color: white;
    color: black;
    padding-left: 2rem;
    padding-right: 2.4rem;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    min-height: 32px;
    max-height: 42px;
    font-weight: bold;
}

.botaoPlay:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

.botaoPlay i{
    margin-right: 5px;
}

.space{
    height: 17vw;
}

.space1{
    margin-right: 30vw;
}

.addList svg, .buttonLike svg, .buttonDislike svg, .buttonSound{
    display: block;
    border-width: 2px;
    color: white;
    min-width: 32px;
    min-height: 32px;
    max-width: 42px;
    max-height: 42px;
    cursor: pointer;
    padding: 7px;
}

.addList, .buttonLike, .buttonDislike, .buttonSound{
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 50%;
    background-color: rgba(42,42,42,.6);
    margin-left: 4px;
}

.buttonSound i{
    opacity: 0.4;
    font-size: 15px;
    width: 18px;
}

.buttonSound:hover i{
    opacity: 1;
}

.buttonSound{
    transition: 0.5s;
}

.buttonSound:hover{
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}

.addList:hover, .buttonLike:hover, .buttonDislike:hover{
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
}

.flexModal{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    padding: 0 3em;
    padding-top: 14vw;
}

.tooltipAdd, .tooltipLike, .tooltipDislike{
    --balloon-color: rgba(255, 255, 255, 0.75);
    --balloon-text-color: black;
    --balloon-font-size: 16px;
    margin-left: 10px;
}

.modal{
    padding: 0% !important;
    max-width: 850px !important;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    background-color: #181818;
    min-height: 100px;
    overflow: hidden;
}

.contentModal{
    display: flex;
    align-items: center;
    color: white;
    padding-top: 3vw;
}

.contentText{
    color: white;
    padding-top: 3vw;
    width: 80vw;
}

.contentText p{
    line-height: 27px;
    font-size: 18px;
}

.year{
    margin-right: .5em;
}

.rating{
    width: 2em;
    height: 2em;
    margin-right: .5em;
}

.duration{
    margin-right: .5em;
}

.resolution{
    border: 1px solid rgba(255,255,255,.4);
    color: rgba(255,255,255,.9);
    padding: 0 .5em;
    border-radius: 3px;
    font-size: .7em;
}

.gradientback{
    position:absolute;
    margin-bottom: 26vw;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    z-index: -3;
}

.details{
    padding-left: 2em;
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.cast, .genre{
    margin-bottom: 1vw;
}

.cast span, .genre span, .scenes span{
    color: #777;
}

.moreCast{
    text-decoration: none;
    color: white;
    font-style: italic;
}

.cast a, .genre a, .scenes a{
    color: white;
    text-decoration: none;
}

.cast a:hover, .genre a:hover, .scenes a:hover{
    text-decoration: underline;
}

.contentBody{
    display: flex;
}

.episodeSelector{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
}

.blockTemp1 h3,
.blockTemp2 h3,
.blockTemp3 h3,
.blockTemp4 h3,
.blockTemp5 h3,
.blockTemp6 h3{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin-top: 48px;
    margin-bottom: 20px;
    color: white;
}

.episodeSelector h3{
    color: white;
}

.episodeSelector hr{
    color: white;
}

.episodeSelector select{
    border: 0.1em solid rgb(77, 77, 77);
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    min-width: 4em;
    cursor: pointer;
    font-size: 17px;
}

.chapters{
    display: flex;
    align-items: center;
    color: white;
    background-color: #333;
    border-top: 1px solid #404040;
    min-height: 10em;
    border-bottom: 1px solid #404040;
    padding: 1em;
    border-radius: .25em;
    cursor: pointer;
}

.blockTemp2 .chapters,
.blockTemp3 .chapters,
.blockTemp4 .chapters,
.blockTemp5 .chapters,
.blockTemp6 .chapters{
    display: flex;
    align-items: center;
    color: white;
    border-top: none !important;
    background-color: transparent !important;
    min-height: 10em;
    border-bottom: 1px solid #404040;
    padding: 1em;
    border-radius: .25em;
    cursor: pointer;
}

.chapters .number,
.chapters2 .number,
.chapters3 .number,
.chapters4 .number,
.chapters5 .number,
.chapters6 .number,
.chapters7 .number,
.chapters8 .number,
.chapters9 .number{
    font-size: 1.5em;
    color: #d2d2d2;
    margin-left: 1.2vw;
}

.chapters10 .number,
.chapters11 .number,
.chapters12 .number,
.chapters13 .number{
    font-size: 1.5em;
    color: #d2d2d2;
    margin-left: 0.2vw;
}

.titleChapter{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0.7em;
    padding-bottom: .5em;
    font-size: 20px;
    font-weight: 700;
}

.titleChapter .minutes{
    font-size: 17px;
    font-weight: 400;
}

.contentChapter p{
    font-size: 14px;
    line-height: 20px;
    padding: 0 1em 1em;
    margin: 0;
    color: #d2d2d2;
}

.prevChapter img{
    border-radius: 4px;
    width: 10vw;
    margin-left: 2vw;
}

.circle,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8,
.circle9,
.circle10,
.circle11,
.circle12,
.circle13,
.circleCard1,
.circleCard2,
.circleCard3,
.circleCard4,
.circleCard5,
.circleCard6,
.circleCard7,
.circleCard8,
.circleCard9,
.circleCard10,
.circleCard11,
.circleCard12{
	display: flex;
	width: 3em;
	height: 3em;
    padding: .5em;
	border: 1px solid #fff;
	border-radius: 2em;
	color:#f5f5f5;
	justify-content: center;
    align-items: center;
	text-decoration: none;
	background-color: rgba(30,30,20,.5);
}

.playIcon{
    top: 865px;
    right: 645px;
    position: absolute;
}

.playIcon2{
    top: 1025px;
    right: 645px;
    position: absolute;
}

.playIcon3{
    top: 1185px;
    right: 645px;
    position: absolute;
}

.playIcon4{
    top: 1345px;
    right: 645px;
    position: absolute;
}

.playIcon5{
    top: 1502px;
    right: 645px;
    position: absolute;
}

.playIcon6{
    top: 1665px;
    right: 645px;
    position: absolute;
}

.playIcon7{
    top: 1823px;
    right: 645px;
    position: absolute;
}

.playIcon8{
    top: 1983px;
    right: 645px;
    position: absolute;
}

.playIcon9{
    top: 2143px;
    right: 645px;
    position: absolute;
}

.playIcon10{
    top: 2303px;
    right: 645px;
    position: absolute;
}

.playIcon11{
    top: 2462px;
    right: 645px;
    position: absolute;
}

.playIcon12{
    top: 2622px;
    right: 645px;
    position: absolute;
}

.playIcon13{
    top: 2785px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters .playIcon{
    top: 955px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters2 .playIcon2{
    top: 1115px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters3 .playIcon3{
    top: 1275px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters4 .playIcon4{
    top: 1435px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters5 .playIcon5{
    top: 1593px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters6 .playIcon6{
    top: 1756px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters7 .playIcon7{
    top: 1913px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters8 .playIcon8{
    top: 2075px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters9 .playIcon9{
    top: 2233px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters10 .playIcon10{
    top: 2393px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters11 .playIcon11{
    top: 2553px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters12 .playIcon12{
    top: 2713px;
    right: 645px;
    position: absolute;
}

.blockTemp1 .chapters13 .playIcon13{
    top: 2877px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters .playIcon{
    top: 3127px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters2 .playIcon2{
    top: 3285px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters3 .playIcon3{
    top: 3443px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters4 .playIcon4{
    top: 3605px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters5 .playIcon5{
    top: 3765px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters6 .playIcon6{
    top: 3927px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters7 .playIcon7{
    top: 4087px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters8 .playIcon8{
    top: 4247px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters9 .playIcon9{
    top: 4405px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters10 .playIcon10{
    top: 4565px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters11 .playIcon11{
    top: 4727px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters12 .playIcon12{
    top: 4885px;
    right: 645px;
    position: absolute;
}

.blockTemp2 .chapters13 .playIcon13{
    top: 5045px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters .playIcon{
    top: 5297px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters2 .playIcon2{
    top: 5455px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters3 .playIcon3{
    top: 5617px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters4 .playIcon4{
    top: 5777px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters5 .playIcon5{
    top: 5937px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters6 .playIcon6{
    top: 6097px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters7 .playIcon7{
    top: 6257px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters8 .playIcon8{
    top: 6417px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters9 .playIcon9{
    top: 6575px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters10 .playIcon10{
    top: 6737px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters11 .playIcon11{
    top: 6897px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters12 .playIcon12{
    top: 7057px;
    right: 645px;
    position: absolute;
}

.blockTemp3 .chapters13 .playIcon13{
    top: 7217px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters .playIcon{
    top: 7467px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters2 .playIcon2{
    top: 7630px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters3 .playIcon3{
    top: 7787px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters4 .playIcon4{
    top: 7947px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters5 .playIcon5{
    top: 8107px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters6 .playIcon6{
    top: 8267px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters7 .playIcon7{
    top: 8427px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters8 .playIcon8{
    top: 8587px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters9 .playIcon9{
    top: 8747px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters10 .playIcon10{
    top: 8907px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters11 .playIcon11{
    top: 9067px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters12 .playIcon12{
    top: 9227px;
    right: 645px;
    position: absolute;
}

.blockTemp4 .chapters13 .playIcon13{
    top: 9387px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters .playIcon{
    top: 9637px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters2 .playIcon2{
    top: 9797px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters3 .playIcon3{
    top: 9957px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters4 .playIcon4{
    top: 10120px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters5 .playIcon5{
    top: 10277px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters6 .playIcon6{
    top: 10435px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters7 .playIcon7{
    top: 10597px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters8 .playIcon8{
    top: 10757px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters9 .playIcon9{
    top: 10920px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters10 .playIcon10{
    top: 11080px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters11 .playIcon11{
    top: 11237px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters12 .playIcon12{
    top: 11400px;
    right: 645px;
    position: absolute;
}

.blockTemp5 .chapters13 .playIcon13{
    top: 11557px;
    right: 645px;
    position: absolute;
}

.blockTemp6 .chapters .playIcon{
    top: 11807px;
    right: 645px;
    position: absolute;
}

.blockTemp6 .chapters2 .playIcon2{
    top: 11970px;
    right: 645px;
    position: absolute;
}

.blockTemp6 .chapters3 .playIcon3{
    top: 12130px;
    right: 645px;
    position: absolute;
}

.blockTemp6 .chapters4 .playIcon4{
    top: 12290px;
    right: 645px;
    position: absolute;
}

.blockTemp6 .chapters5 .playIcon5{
    top: 12450px;
    right: 645px;
    position: absolute;
}

.blockTemp6 .chapters6 .playIcon6{
    top: 12610px;
    right: 645px;
    position: absolute;
}

.blockTemp6 .chapters7 .playIcon7{
    top: 12770px;
    right: 645px;
    position: absolute;
}

.blockTemp6 .chapters8 .playIcon8{
    top: 12930px;
    right: 645px;
    position: absolute;
}

.chapters2,
.chapters3,
.chapters4,
.chapters5,
.chapters6,
.chapters7,
.chapters8,
.chapters9,
.chapters10,
.chapters11,
.chapters12,
.chapters13{
    display: flex;
    align-items: center;
    color: white;
    min-height: 10em;
    border-bottom: 1px solid #404040;
    padding: 1em;
    border-radius: .25em;
    cursor: pointer;
}

.divider{
    top: 2390px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 40px;
    position: absolute;
}

.divider2{
    display: none;
    top: 2870px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 40px;
    position: absolute;
}

.circleDivider:hover,
.circleDivider1:hover,
.circleDivider2:hover{
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.circleDivider,
.circleDivider1,
.circleDivider2{
	display: flex;
	width: 2.6em;
	height: 2.6em;
    padding: .1em;
	border: 1px solid #fff;
	border-radius: 2em;
	color:#f5f5f5;
	justify-content: center;
    align-items: center;
	text-decoration: none;
	background-color: rgba(42,42,42,.6);
    cursor: pointer;
}

.moreLike{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
}

.moreLike h3{
    color: white;
}

.containerTemp2,
.containerTemp3,
.containerTemp4,
.containerTemp5,
.containerTemp6,
.allEpisode2{
    display: none;
}

.moreLike1,
.moreLike2,
.moreLike3,
.moreLike4{
    display: flex;
    color: #fff;
    cursor: pointer;
}

.moreLike2,
.moreLike3,
.moreLike4{
    margin-top: 0.8em;
}

.moreLike1 img,
.moreLike2 img,
.moreLike3 img,
.moreLike4 img{
    width: 19vw;
}

.yearCard{
    display: flex;
    align-items: center;
}

.yearCard p{
    margin-right: .5em;
}

.yearCard span{
    margin-right: .5em;
}

.yearCard span svg{
    width: 2em;
    height: 2em;
}

.yearCard button{
    margin-left: 6.5vw;
}

.media{
    margin: .25em .5em .25em 0;
    color: #46d369;
    font-weight: 700;
}

.mediaHidden{
    visibility: hidden;
    margin: .25em .5em .25em 0;
    color: #46d369;
    font-weight: 700;
    max-width: 100%;
}

.titleCard{
    padding: 1em;
}

.bodyCard{
    font-size: 14px;
    line-height: 20px;
    color: #d2d2d2;
    padding: 0 1em 1em;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11,
.card12{
    display: flex;
}

.card1,
.card2,
.card4,
.card5,
.card7,
.card8,
.card10,
.card11{
    margin-right: 0.8em;
}

.bgCard{
    background-color: #2f2f2f;
    border-radius: .25em;

}

.card1{
    min-height: 100%;
    border-radius: .25em;
}

.card1 img,
.card2 img,
.card3 img,
.card4 img,
.card5 img,
.card6 img,
.card7 img,
.card8 img,
.card9 img,
.card10 img,
.card11 img,
.card12 img{
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.playIconCard1{
    top: 2550px;
    right: 655px;
    position: absolute;
}

.playIconCard2{
    top: 2550px;
    right: 400px;
    position: absolute;
}

.playIconCard3{
    top: 2550px;
    right: 150px;
    position: absolute;
}

.playIconCard4{
    top: 2930px;
    right: 655px;
    position: absolute;
}

.playIconCard5{
    top: 2930px;
    right: 400px;
    position: absolute;
}

.playIconCard6{
    top: 2930px;
    right: 150px;
    position: absolute;
}

.playIconCard7{
    top: 3270px;
    right: 655px;
    position: absolute;
}

.playIconCard8{
    top: 3270px;
    right: 400px;
    position: absolute;
}

.playIconCard9{
    top: 3270px;
    right: 150px;
    position: absolute;
}

.playIconCard10{
    top: 4130px;
    right: 655px;
    position: absolute;
}

.playIconCard11{
    top: 4130px;
    right: 400px;
    position: absolute;
}

.playIconCard12{
    top: 4130px;
    right: 150px;
    position: absolute;
}

.dividerCard1{
    display: flex;
    justify-content: center;
    margin-top: -6em;
    width: 100%;
    background-image: linear-gradient(to top,#181818 0,rgba(24,24,24,.7) 20%,rgba(24,24,24,.4) 30%,transparent 50%);
    border-bottom: 2px solid #404040;
}

.dividerCard2{
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    background-image: linear-gradient(to top,#181818 0,rgba(24,24,24,.7) 20%,rgba(24,24,24,.4) 30%,transparent 50%);
    border-bottom: 2px solid #404040;
}

.dividerCard1 .circleDivider1{
    position: absolute;
    top: 3487px;
}

.dividerCard2 .circleDivider2{
    position: absolute;
    top: 4423px;
}

.trailers{
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    background-color: #181818;
    min-height: 100px;
    overflow: hidden;
}

.trailers h3{
    color: #fff;
    margin-top: 3vw;
    margin-bottom: 2vw;
    font-size: 24px;
    font-weight: 700;
}