:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa-house.jpg');

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:5px;
    display: flex;
    flex-direction: column;
}

.carrosel-filmes1{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 1rem;
    margin-left: 34px;
}

.item .box-filme {
    transition: transform 100ms ease-out, border-radius 200ms ease-out;
}

.item .box-filme {
    width: 100%;
    height: 140px;
    background-size: cover!important;
    background-position: center!important;
}
  
.item .box-filme:hover {
    border-radius: 10px;
    transform: scale(1.5);
    box-shadow: 0 0 2px #000a;
}

#botao_anterior, #botao_proximo{
    position: absolute;
    top: 570px;
    z-index: 2;
}

#botao_anterior1, #botao_proximo1{
    position: absolute;
    top: 760px;
    z-index: 2;
}

#botao_anterior2, #botao_proximo2{
    position: absolute;
    top: 960px;
    z-index: 2;
}

.fa-solid{
    font-size: 2.5vw;
    color: #fff;
}

.navegacao .btn{
    background: rgba(20,20,20,.7);
}

#botao_anterior, #botao_anterior1, #botao_anterior2{
    left: 35px;
}

#botao_proximo, #botao_proximo1, #botao_proximo2{
    right: 35px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

footer{
    padding: 1rem;
    margin: 50px auto 0;
    padding: 0 4%;
    font-size: 13px;
    line-height: 2.1;
    color: grey;
    max-width: 980px;
}

.icons-social{
    margin-bottom: 1vw;
}

.icons-social a{
    color: #fff;
    margin-right: 15px;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin: 0 0 14px 0;
}

.flex1 a, .flex2 a, .flex3 a, .flex4 a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: grey;
}

.flex1 a:hover, .flex2 a:hover, .flex3 a:hover, .flex4 a:hover{
    text-decoration: underline;
}

.codigo button{
    border: 1px solid grey;
    padding: 0.5rem;
    margin-bottom: 20px;
    font-size: 13px;
}

.codigo:hover{
    color: white;
}

.direitos{
    font-size: 11px;
    margin-bottom: 15px;
}

#moreInfo{
    background: url("../img/previa-house-of-cards.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    height: 50rem;
}

.botaoPlay{
    background-color: white;
    color: black;
    padding-left: 2rem;
    padding-right: 2.4rem;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    min-height: 32px;
    max-height: 42px;
    font-weight: bold;
}

.botaoPlay:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

.botaoPlay i{
    margin-right: 5px;
}

.space{
    height: 17vw;
}

.space1{
    margin-right: 30vw;
}

.addList svg, .buttonLike svg, .buttonDislike svg, .buttonSound{
    display: block;
    border-width: 2px;
    color: white;
    min-width: 32px;
    min-height: 32px;
    max-width: 42px;
    max-height: 42px;
    cursor: pointer;
    padding: 7px;
}

.addList, .buttonLike, .buttonDislike, .buttonSound{
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 50%;
    background-color: rgba(42,42,42,.6);
    margin-left: 4px;
}

.buttonSound i{
    opacity: 0.4;
    font-size: 15px;
    width: 18px;
}

.buttonSound:hover i{
    opacity: 1;
}

.buttonSound{
    transition: 0.5s;
}

.buttonSound:hover{
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}

.addList:hover, .buttonLike:hover, .buttonDislike:hover{
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
}

.flexModal{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    min-height: 2em;
    padding: 0 3em;
    padding-top: 14vw;
}

.tooltipAdd, .tooltipLike, .tooltipDislike{
    --balloon-color: rgba(255, 255, 255, 0.75);
    --balloon-text-color: black;
    --balloon-font-size: 16px;
    margin-left: 10px;
}

.modal{
    padding: 0% !important;
    max-width: 850px !important;
}

.content{
    height: 100%;
    background-color: #181818;
}

.contentModal{
    display: flex;
    align-items: center;
    color: white;
    padding: 0 3em;
    padding-top: 3vw;
}

.contentText{
    display: flex;
    align-items: center;
    color: white;
    padding: 0 3em;
    padding-top: 3vw;
}

.contentText p{
    line-height: 27px;
    font-size: 18px;
}

.year{
    margin-right: .5em;
}

.rating{
    width: 2em;
    height: 2em;
    margin-right: .5em;
}

.duration{
    margin-right: .5em;
}

.resolution{
    border: 1px solid rgba(255,255,255,.4);
    color: rgba(255,255,255,.9);
    padding: 0 .5em;
    border-radius: 3px;
    font-size: .7em;
}

.gradientback{
    position:absolute;
    margin-bottom: 26vw;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    z-index: -3;
}